# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma (généré une fois packages/database implémenté)
packages/database/prisma/generated/

# logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# testing
coverage/
playwright-report/
test-results/
